/* app css stylesheet */

.search {
  width: 100% !important;
}

.angucomplete-dropdown {
  width: 100% !important;
}

.popular .thumbnail{
 height: 380px;
}

.thumbnailSlide{
 height: 230px;
 overflow: auto;
}

.thumbnailSlide .thumbnail{
 height: 210px;
}